# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Vite cache
.vite/

# Editor folders
.vscode/
.idea/

# Local folders
thumbnails/
videos/

# Misc
*.log
*.tmp

# Database
/database/*.db
/database/*.sqlite

# Base de datos
/database/

# Archivos SQLite por si acaso
*.db
*.db-wal
*.db-shm

# Others
*.bak
*.swp
